* {
    margin: 0;
    text-align: center;
}

body {
    margin-left: 20px;
    margin-right: 20px;
    height: 100%;
}

#container {
    padding: 25px;
    display: flex;
    flex-direction: row;
    font-size: 25px;
    color: gold;
    height: 80vh;
}

#flex-left {
    background-color: #1842b8;
    padding: 20px;
    flex: 50%;
    justify-content: center;
}

#flex-right {
    background-color: #4065cc;
    padding: 20px;
    flex: 50%;
}

@media (min-width: 800px) {
    #header {
        width: 100%;
        text-align: center;
        background-color: #BBBBBB;
        color: black;
    }
}

@media screen {
    footer {
    display: none;
    }
}

@media print {
    .footer {
    display: block;
    position: fixed;
    width: 100%;
    bottom: 0px;
    background-color: gray;
    }
}

@media (max-width: 640px) {
    #container {
        flex-direction: column;
    }
}

@media (max-width: 800px) {
    #header {
        display: none;
    }
}